@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header .container {
    padding: 1rem 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .icons #menu-bar {
    display: inline-block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: .1rem solid rgba(0, 0, 0, .2);
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .navbar a { 
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
  }

  #search-form #search-box {
    width: 90%;
    margin: 0 1rem;
  }

  section .banner-slider .slide .content h3 {
    font-size: 5rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }

  .dishes .box-container .box img {
    height: auto;
    width: 100%;
  }
}